
body{
    magin:0;
    padding:0;
}
.topbar{
    background-color: #333333;
    height: 40px;
}
.ta{
    margin: 0 auto;
    width:1226px;
}
.topbar-f{
    float:left;
    height: 40px;
    line-height: 40px;
}
.topbar-s,.topbar-t{
    float:right;
}
.topbar a{
    color: #b0b0b0;
    font-size:12px;
    text-decoration: none;
}
.topbar a:hover{
    color: #ffffff;
}
.topbar-f span{
    font-size:12px;
    color:#424242;
    margin:0.6em;
}
.topbar-t a{
    display:block;
    height: 40px;
    line-height: 40px;
     text-align: center;
    width:120px;
    background-color: #424242;
}
.topbar-t a:hover{
    background-color: #ffffff;
    color:#ff6700;
}
.topbar-t span{
     margin-left: -4px;
     font-size: 12px;
 }

.topbar-s{
    margin-right: 10px;
    height: 40px;
    line-height: 40px;
}
.topbar-s a{
    float: left;
    padding: 0 5px;
    height: 40px;
    line-height: 40px;
}

.topbar-s span{
    float: left;
    font-size:12px;
    color:#424242;
    height: 40px;
    line-height: 40px;
}

.topbar-s {
    margin-left: 40px;
}

/*header*/
.header{
    height: 100px;
    /*border: 1px solid black;*/
}
.header-1{
    float: left;
    width: 62px;
    height: 55px;
    margin-top: 22px;
    /*border: 1px solid black;*/
}
.header-1 a{
    display: block;
    width: 55px;
    height: 55px;
    background-color: #ff6700;
}


.header-2{
    float: left;
    width: 820px;
    height: 100px;
   /* border: 1px solid black;*/
}
ul{
    list-style-type: none;
}
.header-2 .nav-list .nav-item{
    float: left;
    height: 50px;
    line-height: 50px;
}
.header-2 .nav-list .nav-item a{
    display: block;
    text-decoration: none;
    padding: 10px 10px 30px;
    color: black;
}
.header-2 .nav-list .nav-item a:hover{
    color: #ff6700;
}
.header-3{
    float: right;
    width: 296px;
    height: 50px;
    magin-top: 25px;
    /*border: 1px solid black;*/
}
.header-3 .he3-form{
    position: relative;
    display: block;
    width: 296px;
    height: 50px;
    margin-top: 22px;
}
.header-3 .he3-form .he3-text{
    position: absolute;
    top: 0px;
    right: 51px;
    display: block;
    width: 245px;
    height: 50px;
    line-height: 50px;
    border: 1px solid #e0e0e0;
    outline: 0;
}
.header-3 .he3-form .he3-btn{
    position: absolute;
    top: 0px;
    right: 0px;
    display: block;
    width: 52px;
    height: 50px;
    line-height: 50px;
    border: 1px solid #e0e0e0;
    outline: 0;
    background-color: #ff6700;
}
